# Intellij
*/.idea/
*/*.iml
*/*.iws

# Maven
*/target/

# Gradle
*/.gradle/
*/build/
*/gradle/
!*/gradle-wrapper.jar

# Pure java
*/classes/


# jar
*/*.jar

# project
*/log/
*/logs/
*/testdb/
*/lib/
